@model List<CategoryListViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_AdministratorLayout.cshtml";
}


<table>
    <tr>
        <th>ID</th>
        <th>CategoryName</th>
        <th>Description</th>
        <th>Is Active</th>
        <th>Status</th>
        <th></th>
        <th>
            <a href="/Administrator/Category/Create" class="btn btn-danger btn-sm">Kategori Ekle</a>
            <a href="/Administrator/Category/Active" class="btn btn-danger btn-sm">Aktif Kategoriler</a>
            <a href="/Administrator/Category/Passive" class="btn btn-danger btn-sm">Pasif Kategoriler</a>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.CategoryName</td>
            <td>@item.Description</td>
            <td>
             @*    @if(item.IsActive)
                {
                    <span>Aktif</span>
                }else
                {
                    <span>Pasif</span>
                } *@

                @{
                    string result = item.IsActive ? "Aktif" : "Pasif";
                    <span>@result</span>
                }

            </td>
            <td>
                @switch (item.Status)
                {
                    case HotCat.Model.Enums.DataStatus.DELETED:
                        <span>Silinmiş</span>
                        break;
                    case HotCat.Model.Enums.DataStatus.UPDATED:
                        <span>Güncellenmiş</span>
                        break;
                    case HotCat.Model.Enums.DataStatus.INSERTED:
                        <span>Eklendi</span>
                        break;
                }
            </td>
            <td>

                <a asp-action="Update" asp-controller="Category" asp-route-id ="@item.Id" class="btn btn-primary">Update</a>
                <a asp-action="Delete" asp-area="Administrator" asp-controller="Category" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>

