@model List<ProductViewModel>
@{
    ViewData["Title"] = "Ürün Listesi";
    Layout = "~/Areas/Administrator/Views/Shared/_AdministratorLayout.cshtml";
}

            <a class="btn btn-primary" asp-action="Create" asp-controller="Product">Yeni Ürün Ekle</a>
            <table class="table table-hover">
                <tr>
                    <th>Image</th>
                    <th>ID</th>
                    <th>ProductName</th>
                    <th>UnitPrice</th>
                    <th>Stock</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (item.ImagePath != null)
                            {
                                <img src="~/images/products/@item.ImagePath" width="72" height="72" />
                            }
                            else
                            {
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_hp5h8c5u37qsJdeLl_iqlq8LfF8YrhuLaw&s" width="72" height="72" />
                            }
                        </td>
                        <td>@item.ProductId</td>
                        <td>@item.ProductName</td>
                        <td>@item.UnitPrice</td>
                        <td>@item.UnitsInStock</td>
                        <td>

                        <td>
                                @switch (item.Status)
                                {
                                    case HotCat.Model.Enums.DataStatus.DELETED:
                                    <span>Silinmiş</span>
                                        break;
                                    case HotCat.Model.Enums.DataStatus.UPDATED:
                                    <span>Güncellenmiş</span>
                                        break;
                                    case HotCat.Model.Enums.DataStatus.INSERTED:
                                    <span>Eklendi</span>
                                        break;
                                }
                        </td>
                        <td>
                            <a asp-action="Update" asp-controller="Product" asp-route-id="@item.ProductId">Update</a>
                            <a asp-action="Delete" asp-area="Administrator" asp-controller="Product" asp-route-id="@item.ProductId">Delete</a>
                        </td>
                    </tr>
                }
            </table>


